{% extends 'base.html' %}
{% load static %}
{% block content %}

<style type="text/css">
.register-card{
    width: 100%;
    height: 100%;
    max-width: 80vw;
    max-height: 75vh;
    margin-top: 5vh;
}
.card-body{
    margin: 5vh 20vw;
    align-items: center;
}
.register-form input[type="email"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.register-form input[type="username"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.register-form input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.title-text{
    text-align: center;
}
.btn{
    background-color: var(--btn-color);
    border: none;
}
.btn:hover{
    background-color: var(--btn-color-hover);
}
</style>

<div class="container-fluid">
	<div class="row justify-content-center">
		<div class="card register-card">
		  <div class="card-body">
		    <form class="register-form" method="post">{% csrf_token %}
				<!-- <div class="d-flex flex-column pb-3">
				<img class="img-fluid mx-auto d-block" src="{% static 'codingwithmitch/logo_250_250_transparent.png' %}" alt="codingwithmitch logo" width="72" height="72">
				</div> -->
                <h3 class="title-text">Account Registration</h3> 
				<input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>

				<input type="username" name="username" id="inputUsername" class="form-control" placeholder="Username" required>

				<input type="password" name="password1" id="inputPassword1" class="form-control" placeholder="Password" required>

				<input type="password" name="password2" id="inputPassword2" class="form-control" placeholder="Re-enter password" required>

				{% for field in registration_form %}
				<p>
				{% for error in field.errors %}
				<p style="color: red">{{ error }}</p>
				{% endfor %}
				</p>
				{% endfor %}
				{% if registration_form.non_field_errors %}
				<div style="color: red">
					<p>{{registration_form.non_field_errors}}</p>
				</div>

				{% endif %}

				<button class="btn btn-lg btn-primary btn-block" id="register-btn" type="submit">Register</button>

				</form>
		  </div>
		</div>
		
	</div>
</div>
<script type="text/javascript">
	document.querySelector('#inputPassword2').onkeyup = function(e) {
		if (e.keyCode === 13) {  // enter, return
			document.querySelector('#register-btn').click();
		}
	};
</script>

{% endblock content %}