<style type="text/css">
	@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

	:root{
    	--bg-color: #eff0f4;
		--text-black-900: #000000;
		--text-black-700: #555555;
		--text-black-600: #666666;
		--text-black-300: #bbbbbb;
		--btn-color: dimgrey;
		--btn-color-hover: darkgray;

	}

	.main{
		min-height: 80vh;
	}

	body{
		background-color: var(--bg-color);
	}

	.logo-text{
		font-family: 'Lobster', cursive;
		color: var(--text-black-700);
		text-decoration: none !important;
	}

	a{
		color: inherit;
	}

	a:hover{
		color: inherit;
	}

	.text-group-1{
		font-size: 24px;
		color: var(--text-black-900);
	}

	.text-group-2{
		font-size: 18px;
		color: var(--text-black-900);
	}	

	.rounded-circle{
		min-width: 1.8vw;
		min-height: 1.8vw;
		max-width: 1.8vw;
		max-height: 1.8vw;
	}
</style>